/*----------------------------------general text and background styling classes---------------------------------------------*/
.grey {
    background-color: #d3d3d3;
}

.text-grey {
    color: #d3d3d3;
}

.text-white {
    color: white;
}

.text-red {
    color: red;
}

.black-square {
    background-color: black;
}

.grey-square {
    background-color: grey;
}

.white-square {
    background-color: white;
}

.invisible-text {
    color: rgba(0, 0, 0, 0.0);
}
/*-------------------------------------------------------------------------------------------------------------------------*/

.squares { /*targets the individual squares of the minesweeper grid*/
    width: 28px;
    height: 28px;
    display: inline-block;
    font-size: 18px;
    border: none;
}

/*-------------------------------target "every other" square to create a checkerboard effect-------------------------------*/
.even-squares { 
    background-color: rgb(21, 199, 21);
    color: rgba(0, 0, 0, 0.0);
}

.odd-squares {
    background-color: greenyellow;
    color: rgba(0, 0, 0, 0.0);
}
/*-------------------------------------------------------------------------------------------------------------------------*/

.selected {/*targets squares left-clicked by the user and effectively "dealt with"*/
    background-color: #d3d3d3;
}

.hovered-squares:hover {/*creates a highlight while hovered effect on active squares (ie not selected)*/
    background-color: rgb(134, 211, 18);
    color: rgb(134, 211, 18);    
}

.flagged {/*makes the flag icon that marks mines red*/
    color: red;
}


