#welcomeImagesContainerLeft {
    display: inline-block;
    width: 200px;
    height: 100%;
}

#welcomeImagesContainerRight {
    display: inline-block;
    width: 200px;
    height: 100%;
}

.welcomeImageContainer {
    display: block;
    height: 100px;
    width: 100%;
    background-color: red;
    border: solid;
}