/*----------------------------------general text and background styling classes---------------------------------------------*/
.grey {
    background-color: #d3d3d3;
}

.text-grey {
    color: #d3d3d3;
}

.text-blue {
    color: rgb(13, 133, 231);
}

.text-red {
    color: red;
}

.text-green {
    color: rgb(25, 196, 25);
}

.text-purple {
    color: purple;
}

.text-orange {
    color: rgb(218, 72, 19);
}

.text-pink {
    color: #f81ba3;
}

.text-gold {
    color: gold;
}

.text-black {
    color: black;
}

.black-square {
    background-color: black;
}

.grey-square {
    background-color: grey;
}

.white-square {
    background-color: white;
}

.yellow-square {
    background-color: yellow;
}

.orange-square {
    background-color: orange;
}

.pink-square {
    background-color: pink;
}

.invisible-text {
    color: rgba(0, 0, 0, 0.0);
}

/*------------------------------------------------general positioning classes----------------------------------------------*/

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.center {
    text-align: center;
}

.margin-auto {
    margin: auto;
}

/*-------------------------------------------------html elements---------------------------------------------------------*/

.squaresMedium { /*targets the individual squares of the minesweeper grid*/
    width: 28px;
    height: 28px;
    display: inline-block;
    font-size: 18px;
    font-weight: 750;
    border: none;
    user-select: none;
}

.squaresSmall { /*targets the individual squares of the minesweeper grid*/
    width: 25px;
    height: 25px;
    display: inline-block;
    font-size: 18px;
    font-weight: 750;
    border: none;
    user-select: none;
}

.squaresBig { /*targets the individual squares of the minesweeper grid*/
    width: 32px;
    height: 32px;
    display: inline-block;
    font-size: 18px;
    font-weight: 750;
    border: none;
    user-select: none;
}

header {
    margin-bottom: 10px;
}

#heading-container {
    margin: auto;
    height: 22vh;
    width: 1040px;
    border-bottom: solid 3px;
}

.title-rows {
    height: 10%;
}

.title-pixels {
    display: inline-block;
    height: 100%;
    width: 10px;
}

#container-game {
    margin: auto;
    text-align: center;
}

#difficulty {
    text-align: left;
}

.navigation-container {
    text-align: center;
}

.nav-items {
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    color: black;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1.5em;
    vertical-align: bottom;
}

.nav-items-hover:hover {
    color: #f81ba3;
}

.nav-item-current {
    text-decoration: underline;
    text-decoration-color: #f81ba3;
    text-decoration-thickness: 3px;
}

/*-------------------------------target "every other" square to create a checkerboard effect-------------------------------*/
.even-squares { 
    background-color: rgb(21, 199, 21);
    color: rgba(0, 0, 0, 0.0);
}

.odd-squares {
    background-color: greenyellow;
    color: rgba(0, 0, 0, 0.0);
}
/*-------------------------------------------------------------------------------------------------------------------------*/

.selected {/*targets squares left-clicked by the user and effectively "dealt with"*/
    background-color: #d3d3d3;
}

.hovered-squares:hover {/*creates a highlight while hovered effect on active squares (ie not selected)*/
    background-color: rgb(134, 211, 18);
    color: rgb(134, 211, 18);    
}

.flagged {/*makes the flag icon that marks mines red*/
    color: red;
    background-color: #d3d3d3;
}


