#outer-container {
    text-align: center;
}

#container-game {
    margin: auto;
    text-align: center;
    display: inline-block;
    min-width: 150px;
}

#play {
    border: none;
}

#play:hover {
    cursor: pointer;
}

#score-container {/*display of flags in hand during game*/
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    color: red;
    display: inline-block;
}

.squaresMedium { /*targets the individual squares of the minesweeper grid*/
    width: 28px;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    border: none;
    user-select: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2px;
    padding-top: 4px;
}

.squaresSmall { /*targets the individual squares of the minesweeper grid*/
    width: 25px;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    border: none;
    user-select: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0;
    padding-top: 4px;
}

.squaresBig { /*targets the individual squares of the minesweeper grid*/
    width: 32px;
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    border: none;
    user-select: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2px;
    padding-top: 4px;
}

.imageUnderlineBombs {/*bomb images on page load, decorating play button etc*/
    background-image: url("../images/bomb.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 5vw;
    height: 5vw;
    margin-right: 1vw;
    margin-left: 1vw;
}

#overlineBombs {
    margin-bottom: 3vh;
}


#score-bar {/*bar on top of minesweeper grid*/
    position: relative;
    padding-bottom: 6px;
}

.score-bar-bg {
    background-color: hsla(0, 0%, 83%, 0.89);
}

#selector-start {/*difficulty selector and play button mid-game*/
    display: inline-block;
    left: 4px;
    top: 6px;
}

.selector-start-onload {/*difficulty selector and play button pre-game*/
    background-color: greenyellow;
    padding-top: 8px;
    height: 50px;
    border-radius: 5px;
    border: solid;
}

#difficulty {
    text-align: left;
    font-weight: 700;
    color: white;
    border-radius: 10px;
}
#call-to-play {
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: green;
}

#minesweeperBottom {
    height: 10vh;
}

#footerMS {
    width: 100%;
    padding-top: 1.5vmin;
    padding-bottom: 1.5vmin;
    border-top: solid;
}

/*-------------------------------target "every other" square to create a checkerboard effect-------------------------------*/
.even-squares { 
    background-color: rgb(21, 199, 21);
    color: rgba(0, 0, 0, 0.0);
}

.odd-squares {
    background-color: rgb(119, 236, 10);
    color: rgba(0, 0, 0, 0.0);
}

/*-------------------------------------------------------------------------------------------------------------------------*/

.selected {/*targets squares left-clicked by the user and effectively "dealt with"*/
    background-color: #d3d3d3;
}

.hovered-squares:hover {/*creates a highlight while hovered effect on active squares (ie not selected)*/
    background-color: rgb(134, 211, 18);
    color: rgb(134, 211, 18);    
}

.flagged {/*makes the flag icon that marks mines red*/
    color: red;
    background-color: #d3d3d3;
}

/*----------------------------------------------------------------MEDIA QUERIES---------------------------------------------------------*/

@media screen and (max-width: 550px) {

    .imageUnderlineBombs {
        width: 15vw;
        height: 15vw;
        margin-right: 1vw;
        margin-left: 1vw;
    }
    /*fine-tune size of minesweeper grid squares on mobile*/
    .squaresMedium {
        width: 22px;
        font-size: 15px;
    }

    .squaresSmall {
        width: 4.9vw;
        font-size: 4.5vw;
        padding-top: 2px;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) { /*e.g. Ipad*/

    #outer-container {
        margin-top: 10vh;
    }
    /*fine-tune size of minesweeper grid squares on tablet*/
    .squaresBig {
        width: 40px;
        font-size: 28px;
    }
    .squaresMedium {
        width: 36px;
        font-size: 27px;
    }
    .squaresSmall {
        width: 32px;
        font-size: 25px;
    }
    .imageUnderlineBombs {
        width: 15vw;
        height: 15vw;
        margin-right: 1vw;
        margin-left: 1vw;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) and (min-height: 1200px ) {/* ie Ipad Pro*/


    .imageUnderlineBombs {
        width: 15vw;
        height: 15vw;
        margin-right: 1vw;
        margin-left: 1vw;
    }
    /*fine-tune size of minesweeper grid squares on large tablets*/
    .squaresMedium {
        width: 40px;
        font-size: 32px;
    }
    .squaresSmall {
        width: 40px;
        font-size: 32px;
    }
    .squaresBig {
        width: 60px;
        font-size: 45px;
    }
    #difficulty {
        font-size: 1.4em;
    }
    #call-to-play {
        font-size: 1.8em;
    }
    #play {
        font-size: 1.2em;
    }
    #flag-container {
        font-size: 1.2em;
    }
    #score-container {
        font-size: 1.2em;
    }
}
  
@media screen and (max-width: 320px) {/*further tune grid squares for very narrow mobiles*/
    .squaresMedium {
        width: 20px;
    }
    .squaresSmall {
        width: 4.9vw;
        padding-top: 1px;
    }
    .margin-top-small {
        margin-top: 20px;
    }
}